{% load i18n %}
{% load thumbnail %}

    {% if rtopic.attachment_type == "text" %}
    <p> 
    	----- <br/>
	    <strong>{% trans "File Attachment" %}: </strong>  <br/>
	    <a href="{{MEDIA_URL}}/{{rtopic.file}}">{% trans "Download" %} {{rtopic.filename}}  </a>
    </p>
    {% endif %}
    
    {% if rtopic.attachment_type == "image" %}
    <p>
	    ----- <br/>
	    <strong>{% trans "Image Attachment" %}: </strong>  <br/>
	    
	    <a href="{{MEDIA_URL}}/{{rtopic.file}}">
	    	{% thumbnail rtopic.file "100x100" as im %}
	    	<img src="{{im.url}}" />
	    	{% endthumbnail %}
	    </a><br />
	    {{rtopic.filename}}
	</p>
    {% endif %}
                     